{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}

{{form_start(formRecherche) }}

{{
	form_widget(formRecherche.recherche, {
		attr : {
			placeholder : "Recherchez un article"
			}
		}
		)
}}
<button type="submit" class="btn btn-primary">Rechercher</button>
{{form_end(formRecherche) }}

	{% for article in articles %}
	<section class="articles">
		<h2>{{article.title}}</h2>
		<div class="metadata">Ecrit le
			{{article.createdAt|date('d/m/Y à H:i:s')}}
			dans la catégorie
			{{article.category.title}}
		</div>
		<div class="content">
			<img src="{{article.image}}" alt="" class="img-fluid">
			{{article.content|slice(0,50)|raw}}
			<a href="{{path('blog_show',{'id':article.id}) }}" class="btn btn-primary">Lire la suite</a>
		</div>
	</section>	
	{% endfor %}
{% endblock %}
