{% extends "base.html.twig" %}

{% block body %}
	<section class="row article">
		<article class="col-md-3 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
			<h2>{{article.title}}</h2>
			<div class="metadata">Ecrit le
				{{article.createdAt|date('d/m/Y à H:i:s')}}
				dans la catégorie
				{{article.category.title}}
			</div>
			<div class="content">
				<img src="{{article.image}}" alt="" class="img-fluid">
				{{article.content|raw}}
			</div>
		</article>
	</section>
	<h2 class="text-center mx-auto m-3">Commentaires</h2>
	<section id="commentaire" class="col-md-10 mx-auto">
		{% for comment in article.comments %}
			<div class="comment">
				<div class="row">
					<div class="col-md-3">
						{{comment.author}}
						(<small>{{comment.createdAt|date('d/m/Y à H:i:s')}}</small>)
					</div>
					<div class="col-md-9">
						{{comment.content|raw}}
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}
	</section>
{% endblock %}
